.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.Modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 800px;
  background: #2f3640;
  overflow: auto;
}

.modal-elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100px;
  margin: 10px;

}

.modal-elements p {
  float: left;
  width: 80px;
  color: #fff;
}

.confirm-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 150px;
  margin-bottom: 5px;
  width: 200px;
  height: 50px;
  border: none;
  background-image: linear-gradient(to right, #cb2d3e, #ef473a);
  color: #fff;
  border-radius: 20px;
}

.confirm-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.closeModalBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #cb2d3e, #ef473a);
  border: none;
  color: #fff;
}

.closeModalBtn:hover {
  cursor: pointer;
}

.removeBtn {
  background: none;
  border: none;
  float: right;
}

#svg:hover {
  fill :#cb2d3e;
  cursor: pointer;
}